apiVersion: k8s.keycloak.org/v2alpha1
kind: Keycloak
metadata:
  name: {{ .Values.keycloak.name }}
  namespace: {{ .Values.keycloak.namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  instances: {{ .Values.keycloak.instances }}
  hostname:
    hostname: {{ .Values.keycloak.hostname }}
  http:
    enabled: true
  tls:
    enabled: true
    useDefaultCertificate: true
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.keycloak.name }}-initial-admin
  namespace: {{ .Values.keycloak.namespace }}
type: Opaque
stringData:
  username: {{ .Values.keycloak.adminUser }}
  password: {{ .Values.keycloak.adminPassword }}
